<h3>Advanced Filter</h3>

  <div class="row">
    <label for="priority"><b>Priority</b></label>
      <select placeholder="Choose" [(ngModel)]="model.priority" #priority="ngModel" id="priority" name="priority">
        <option *ngFor="let list of priorityList" value="{{list.name}}">{{list.name}}</option>

      </select>
      <label for="priority"><b>Status</b></label>
      <select placeholder="Choose" [(ngModel)]="model.status" #status="ngModel" id="status" name="status">
        <option value="All">All</option>
        <option *ngFor="let list of statusList" value="{{list.name}}">{{list.name}}</option>
      </select>
     
     
    </div>
    <div style="height: 20px;" class="row"></div>

    <div class="row">
      <label for="priority"><b>Country</b></label>
        <select placeholder="Choose" [(ngModel)]="model.country" #country="ngModel" id="country" name="country">
          <option *ngFor="let list of countryList" value="{{list.name}}">{{list.name}}</option>
  
        </select>
      <!--  <label for="priority"><b>Status</b></label>
        <select placeholder="Choose" [(ngModel)]="model.priority" #priority="ngModel" id="priority" name="priority">
          <option *ngFor="let list of priorityList" value="{{list.name}}">{{list.name}}</option>
        </select>
       -->
      

      
</div>

<div class="row">
  <button  (click)="apply()" style="width:auto;">Apply</button>

</div>
<!--
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
</div> -->